body{
    background: black;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
.container{
    width: 90%;
    margin: 50px auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 0.1em 0.1em white;
}
.userInput{
    background: none;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0.1em 0.1em royalblue;
    padding: 0.6em;
    font-size: 1.05em;
    margin: 1em auto;
}
.button{
    background: none;
    color: white;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0.1em 0.1em royalblue;
    padding: 1em;
    font-size: 1em;
    transition: 300ms;
}
.button:hover{
    box-shadow: 0 0 0.3em 0.1em purple;
}